# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Files
.env
.env.local
.env.*.local
*.pem
*.pid
*.seed
*.pid.lock
*.yml
*.yml.*
*.log
*.swp
*.swo
*.editorconfig
.vscode/
*.sublime-workspace
*.sublime-project

dist/
coverage/
logs/
tmp/
logs/
*.log