@import "../../styles/variables";

.navBar {
	display: flex;
	flex-direction: row;
	height: fit-content;
	margin: 0;
	width: fit-content;

	&__active {
		color: var(--highlight-color);
	}

	&__nonActive {
		color: var(--color-text);
	}

	&__navItem {
		width: fit-content;
		height: fit-content;
	}

	& > a > p {
		margin-left: $indent__s;
	}
}
