:root {
  --secondary-color: #0E0E10ff;
  --primary-color:  #19191Bff;
  --light-color: #3C3D41ff;
  --highlight-color: #B887E1ff;
  --detail-color: #ffffff;
  --base-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--primary-color);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: var(--primary-color);
  display: grid;
  height: 100px;
  padding: var(--base-size);
  width: 100%;
}

main {
  background-color: var(--secondary-color);
  flex: 1;
  padding: var(--base-size);

}

.mainContent {
  background-color: var(--secondary-color);
  flex: 1, 0;
  padding: var(--base-size);

  width: 90%;
}

.navigation {
  background-color: var(--primary-color);
  display: flex;
  flex: 1, 0;
  flex-direction: row;
  justify-self: end;
}

.navBlock {
  margin-left: var(--base-size);
}